* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.container {
   width: 1518px;
   height: 1080px;
   margin: 0 auto;
}

.rasm {
   width: 1518px;
}

.card {
   background: rgba(255, 255, 255, 0.379);
   border: 1px solid #000000;
   box-shadow: 0px 10px 100px 10px rgba(255, 255, 255, 0.2);
   border-radius: 25px;
}

.main {
   background-image: url(./images/back-img.png);
   height: 1080px;
}

@media(max-width:1280px) {
   .line {
      display: none;
   }

   .day {
      flex-wrap: wrap;
   }

   .container {
      width: 1280px;
      height: 1450px;
      margin: 0 auto;
      background-color: #0c101a;
   }

   .rasm {
      width: 1518px;
   }

   .main {
      background-image: none;
      height: 1080px;
   }

   #search{
      margin-right: 35px;
   }

   .card{
      margin-top: 80px;
   }
}

@media(max-width:1023px) {
   .line {
      display: none;
   }

   .day {
      flex-wrap: wrap;
   }

   .container {
      width: 1023px;
      height: 1820px;
      margin: 0 auto;
      background-color: #0c101a;
   }

   .rasm {
      display: none;
   }

   .soat{
      display: inline-flex;
   }

   .main {
      background-image: none;
      height: 1080px;
   }

   #search{
      margin-right: 35px;
   }

   .card{
      margin-top: 80px;
   }
}

@media(max-width:913px) {
   .line {
      display: none;
   }

   .day {
      flex-wrap: wrap;
   }

   .container {
      width: 913px;
      height: 1900px;
      margin: 0 auto;
      background-color: #0c101a;
   }

   .rasm {
      display: none;
   }

   .soat{
      flex-wrap: wrap-reverse;
   }

   .main {
      background-image: none;
      height: 1080px;
   }

   #search{
      margin-right: 35px;
   }

   .card{
      margin-top: 100px;
   }
}

@media(max-width:772px) {
   .line {
      display: none;
   }

   .day {
      flex-wrap: wrap;
   }

   .container {
      width: 772px;
      height: 1900px;
      margin: 0 auto;
      background-color: #0c101a;
   }

   .rasm {
      display: none;
   }

   .soat{
      display: inline-flex;
   }

   .main {
      background-image: none;
      height: 1080px;
   }

   #search{
      margin-right: 35px;
   }

   .card{
      margin-top: 100px;
   }
}

@media(max-width:768px) {
   .line {
      display: none;
   }

   .day {
      flex-wrap: wrap;
   }

   .container {
      width: 768px;
      height: 3500px;
      margin: 0 auto;
      background-color: #0c101a;
   }

   .rasm {
      display: none;
   }

   .soat{
      display: inline-flex;
   }

   .main {
      background-image: none;
      height: 1080px;
   }

   #search{
      margin-right: 35px;
   }

   .card{
      margin-top: 100px;
   }
}

@media(max-width:415px) {
   .line {
      width: 300px;
      margin-left: 60px;
   }

   .day {
      flex-wrap: wrap;
   }

   .container {
      width: 415px;
      height: 3400px;
      margin: 0 auto;
      background-color: #0c101a;
   }

   .rasm {
      width: 1518px;
   }

   .main {
      background-image: none;
      height: 1080px;
   }

   .soat{
      display: block;
   }

   .mintaqa{
      margin-left: -145px;
   }

   .hudud{
      flex-wrap: wrap;
   }

   #search{
      margin-right: 35px;
   }

   .time{
      margin-top: 20px;
      margin-left: 245px;
   }

   .card{
      margin-top: 50px;
   }
}

@media(max-width:376px) {
   .line {
      width: 300px;
      margin-left: 30px;
   }

   .day {
      flex-wrap: wrap;
   }

   .container {
      width: 376px;
      height: 3400px;
      margin: 0 auto;
      background-color: #0c101a;
   }

   .rasm {
      width: 1518px;
   }

   .main {
      background-image: none;
      height: 1080px;
   }

   .soat{
      display: block;
   }

   .mintaqa{
      margin-left: -170px;
   }

   .hudud{
      flex-wrap: wrap;
   }

   #search{
      margin-right: 35px;
   }

   .time{
      margin-top: 20px;
      margin-left: 220px;
   }

   .card{
      margin-top: 50px;
   }
}

@media(max-width:360px) {
   .line {
      width: 300px;
      margin-left: 30px;
   }

   .day {
      flex-wrap: wrap;
   }

   .container {
      width: 360px;
      height: 3400px;
      margin: 0 auto;
      background-color: #0c101a;
   }

   .rasm {
      width: 1518px;
   }

   .main {
      background-image: none;
      height: 1080px;
   }

   .soat{
      display: inline-block;
   }

   .mintaqa{
      margin-left: -230px;
   }

   .hudud{
      flex-wrap: wrap;
   }

   #search{
      margin-right: 35px;
   }

   .time{
      margin-top: 20px;
      margin-left: 160px;
   }

   .card{
      margin-top: 50px;
   }
}